.background {
  position: fixed;
  top: -20%;
  left: -20%;
  bottom: -20%;
  right: -20%;
  overflow: hidden;
  perspective: 700px;
  > * {
    position: absolute;
  }
  &__dark {
    background: url(../../assets/home/texture.png);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(85%);
  }
  &__light {
    background-color: var(--light);
    z-index: 1;
    left: 0;
    right: 0;
    &--down {
      top: 50%;
      height: 70vh;
    }
    &--up {
      bottom: 50%;
      height: 70vh;
    }
  }
}