header {
  width: 100%;
  position: fixed;
  mix-blend-mode: difference;
  padding: 5rem;
  z-index: 3;
  top: 0;
  left: 0;
  @include respond(large) {
    padding: 4rem;
  }
  @include respond(small) {
    padding: 3rem;
  }
  @include respond(xxsmall) {
    padding: 2rem;
  }
}

