.header {
  width: 100vw;
  position: fixed;
  mix-blend-mode: difference;
  padding: 5rem;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
  @include respond(large) {
    padding: 4rem;
  }
  @include respond(small) {
    padding: 3rem;
  }
  @include respond(xxsmall) {
    padding: 1.5rem;
  }
  @media (max-width: 850px) and (orientation: landscape) {
    padding: 1.5rem;
  }
}

