header {
  width: 100%;
  position: fixed;
  mix-blend-mode: difference;
  z-index: 2;
  padding: 5rem;
  @include respond(large) {
    padding: 4rem;
  }
  @include respond(small) {
    padding: 3rem;
  }
  @include respond(xxsmall) {
    padding: 2rem;
  }
}
