.loader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--dark);
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  color: var(--white);
  &__overlay {
    position: fixed;
    background-color: var(--light);
    z-index: 6;
    transform: scaleY(0);
    &--up {
      bottom: 49.99%;
      left: 0;
      width: 100vw;
      height: 70vh;
      transform-origin: bottom;
    }
    &--down {
      top: 49.99%;
      left: 0;
      width: 100vw;
      height: 70vh;
      transform-origin: top;
    }
  }
  span {
    display: inline-block;
    transform: translateY(100%);
  }
  &__name-box {
    h1 {
      font-size: var(--font-size-m);
      font-weight: normal;
      letter-spacing: 1px;
      line-height: 1.3;
      overflow-y: hidden;
    }
    h2 {
      font-size: var(--font-size-s);
      font-weight: normal;
      letter-spacing: 1px;
      overflow-y: hidden;
    }
  }
  &__loading {
    font-size: 10rem;
    font-family: "Peace Sans", sans-serif;
    color: var(--grey);
    position: relative;
    display: flex;
    justify-content: center;
    @include respond(medium) {
      font-size: 7.5rem;
    }
    @include respond(xxsmall) {
      font-size: 5rem;
    }
    &-right {
    height: 2px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: var(--grey);
    }
    &-left {
      height: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: var(--grey);
      transform: rotate(180deg);
      transform-origin: 0 0;
    }
    &-text {
      letter-spacing: 2px;
      position: relative;
      display: flex;
      span, .percent {
        line-height: 0.85;
      }
      .values {
        position: relative;
       div {
         position: absolute;
         display: flex;
         justify-content: flex-end;
         top: 0;
         right: 0;
         overflow-y: hidden;
         &:first-child {
          background-color: var(--dark);
         }
         &:last-child {
           position: relative;
           span {
            background-color: var(--dark);
           }
         }
       }
      }
      .percent {
        font-size: 5rem;
        align-self: flex-end;
        display: flex;
        align-items: flex-end;
        height: 100%;
        overflow: hidden;
        background-color: var(--dark);
        @include respond(medium) {
          font-size: 4rem;
        }
        @include respond(xxsmall) {
          font-size: 3rem;
        }
      }
    }
  }
  &__copyright {
    font-size: var(--font-size-s);
    letter-spacing: 1px;
    overflow: hidden;
  }
}