.button {
  position: relative;
  display: inline-block;
  &:hover &__underline--fill {
    width: 100%;
    @include respond(xxsmall) {
      width: 0%;
    }
  }
  &__content {
    position: relative;
    z-index: 3;
  }
  &--white {
    color: var(--white);
    .button__underline--fill {
    background-color: var(--white);
    }
  }
  &--black {
    color: var(--black);
    .button__underline--fill {
      background-color: var(--black);
    }
  }
  &__underline {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  display: flex;
  &--left {
    height: 1px;
    transform: rotate(180deg);
    width: 50%;
  }
  &--right{
    width: 50%;
    height: 1px;
  }
  &--fill {
    height: 1px;
    transition: .5s;
    width: 0;
  }
}
}