.circle {
  width: 40rem;
  height: 40rem;
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(100%, 100%) rotate(95deg);
  @include respond(large) {
    width: 30rem;
    height: 30rem;
  }
  @include respond(xxsmall) {
    width: 20rem;
    height: 20rem;
  }
  @media (max-width: 850px) and (orientation: landscape) {
    width: 20rem;
    height: 20rem;
  }
  &__img {
    width: 100%;
  }
}