.contact {
  position: fixed;
  mix-blend-mode: difference;
  font-size: 1.5rem;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  letter-spacing: 2px;
  left: 5rem;
  bottom: 5rem;
  backface-visibility: hidden;
  @include respond(xxsmall) {
    font-size: 1.2rem;
  }
  .button {
    transform: translateY(100%);
  }
  @include respond(large) {
    left: 4rem;
    bottom: 4rem;
  }
  @include respond(small) {
    left: 3rem;
    bottom: 3rem;
  }
  @include respond(xxsmall) {
    left: 1rem;
    bottom: 1rem;
  }
  @media (max-width: 850px) and (orientation: landscape) {
    left: 1rem;
    bottom: 1rem;
    font-size: 1.2rem;
  }
  &__list {
    list-style: none;
    display: flex;
  }
  &__item {
    margin-right: 5rem;
    position: relative;
    overflow: hidden;
    @include respond(large) {
      margin-right: 4rem;
    }
    @include respond(small) {
      margin-right: 3rem;
    }
    @include respond(xxsmall) {
      margin-right: 1rem;
    }
    @media (max-width: 850px) and (orientation: landscape) {
      margin-right: 1rem;
    }
  }
}