.contact {
  position: fixed;
  mix-blend-mode: difference;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  letter-spacing: 2px;
  z-index: 4;
  left: 5rem;
  bottom: 4rem;
  backface-visibility: hidden;
  @include respond(large) {
    left: 4rem;
    bottom: 3rem;
  }
  @include respond(small) {
    left: 3rem;
    bottom: 2rem;
  }
  @include respond(xxsmall) {
    left: 2rem;
    bottom: 0rem;
  }
  @media (max-width: 850px) and (orientation: landscape) {
    left: 2rem;
    bottom: 0rem;
  }
  &__list {
    list-style: none;
    display: flex;
  }
  &__item {
    margin-right: 5rem;
    position: relative;
    overflow: hidden;
    font-size: var(--font-size-s);
    .button {
      transform: translateY(100%);
    }
    @include respond(large) {
      margin-right: 4rem;
    }
    @include respond(small) {
      margin-right: 3rem;
    }
    @include respond(xxsmall) {
      margin-right: 2rem;
    }
    @media (max-width: 850px) and (orientation: landscape) {
      margin-right: 2rem;
    }
  }
  &__reach {
    position: fixed;
    bottom: 0;
    right: 0;
    letter-spacing: 1px;
    margin-bottom: 5rem;
    overflow: hidden;
    z-index: 4;
    @include respond(large) {
      margin-bottom: 4rem;
    }
    @include respond(small) {
      margin-bottom: 3rem;
    }
    @include respond(xxsmall) {
      margin-bottom: 2rem;
    }
    @media (max-width: 850px) and (orientation: landscape) {
      margin-bottom: 2rem;
    }
  }
}