.cursor {
  @include respond(medium) {
    display: none;
  }
  &__circle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid #666;
  position: absolute;
  transition: .2s ease-out;
  top: -65px;
  left: -65px;  
  mix-blend-mode: difference;
  z-index: 1;
  &--expand {
    transform: scale(1.5);
    border: .5px solid #666;
  }
  &--shrink {
    transform: scale(.5);
  }
  }
  &__dot {
    width: 6px;
    height: 6px;
    z-index: 1;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: -50px;
    background-color: var(--white);
    mix-blend-mode: difference;
    transition: .2s transform;
    &--multi {
      transform: translateY(-30px);
    }
    &--inner {
      position: absolute;
      left: 0%;
      top: 0%;
      background-color: var(--white);
      border-radius: 50%;
      width: 6px;
      height: 6px;
      transition: .2s;
    }
    &--multi-inner {
      transform: translateY(60px);
    }
    &--dont-multi {
      transform: none !important;
    }
  }
}