.cursor {
  @include respond(medium) {
    display: none;
  }
  &__circle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid #666;
  position: absolute;
  transition: .2s ease-out;
  top: -65px;
  left: -65px;  
  mix-blend-mode: difference;
  
  &--expand {
    transform: scale(1.5);
    border: .5px solid #666;
  }
  &--shrink {
    transform: scale(.5);
  }
  }
  &__dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: -50px;
    background-color: white;
    mix-blend-mode: difference;
    &--shrink {
      transform: scale(0.8);
    }
  }
}