.light {
  position: absolute;
  top: -25vw;
  left: -25vw;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  filter: blur(120px);
  background-color: rgba(255,255,255,0.125);
  box-shadow: 0 0 20vw 0 var(--white);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: scale(.5);
  @media only screen and (hover: none) and (pointer: coarse){
    display: none;
  }
}