.light {
  position: absolute;
  top: -15vw;
  left: -15vw;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  filter: blur(120px);
  background-color: rgba(255,255,255,0.125);
  box-shadow: 0 0 20vw 0 var(--white);
  pointer-events: none;
  opacity: 1;
  transform: scale(0);
}