.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  span {
    display: inline-block;
    transform: translateY(100%);
  }
  &__content {
    color: var(--white);
    text-align: center;
  }
  &__name-box {
    h1 {
      font-size: 3rem;
      font-weight: normal;
      letter-spacing: 1px;
      line-height: 1.3;
    overflow: hidden;
    }
    h2 {
      font-size: 2rem;
      font-weight: normal;
      letter-spacing: 1px;
    overflow: hidden;
    }
  }
  &__loading {
    font-size: 10rem;
    margin: 25rem 0;
    color: var(--grey);
    position: relative;
    @include respond(xsmall) {
      font-size: 5rem;
    }
    @media (max-width: 850px) and (orientation: landscape) {
      margin: 5rem 0;
    }
    &-right {
    height: 2px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: var(--grey);
    }
    &-left {
      height: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: var(--grey);
      transform: rotate(180deg);
      transform-origin: 0 0;
    }
    &-text {
      letter-spacing: 2px;
      position: relative;
      overflow: hidden;
      background-color: var(--dark);
    }
  }
  &__copyright {
    font-size: 1.5rem;
    letter-spacing: 1px;
    overflow: hidden;
  }
}