.navigation {
  display: flex;
  &__item {
  font-size: 1.7rem;
  letter-spacing: 2px;
  overflow: hidden;
  @include respond(xxsmall) {
    font-size: 1.3rem;
  }
  .button {
    transform: translateY(100%);
  }
    &:nth-child(2)
     {
      margin-left: auto;
    }
    &:nth-child(3) {
      margin-left: 5rem;
      @include respond(large) {
        margin-left: 4rem;
      }
      @include respond(small) {
        margin-left: 3rem;
      }
      @include respond(xxsmall) {
        margin-left: 1rem;
      }
      @media (max-width: 850px) and (orientation: landscape) {
        margin-left: 1rem;
      }
    }
  }
}