.project {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  perspective: 700px;
  &__button-container {
    font-size: var(--font-size-s);
    overflow: hidden;
    position: absolute;
    right: 20%;
    bottom: 15%;
    @include respond(xxsmall) {
      right: 50%;
      transform: translateX(50%);
      bottom: 25%;
    }
    @media (max-width: 1100px) and (orientation: portrait) and (min-width: 600px) {
      
    }
  }
  .button {
    transform: translateY(100%);
  }
  &__title {
    position: absolute;
    font-size: 25rem;
    font-weight: bold;
    overflow: hidden;
    pointer-events: none;
    letter-spacing: 2px;
    @include respond(xlarge) {
       font-size: 23rem;
    }
    @include respond(large) {
      font-size: 22rem;
    }
    @include respond(medium) {
    font-size: 20rem;
    }
    @include respond(small) {
    font-size: 20rem;
    }
    @include respond(xsmall) {
    font-size: 18rem;
    }
    @include respond(xxsmall) {
    font-size: 16rem;
    }
    &--down {
      bottom: 0;
      left: 0;
      padding-right: 1rem;
      @include respond(xxsmall) {
        bottom: 5%;
      }
    }
    &--up {
      top: 0;
      right: 0;
      @include respond(xxsmall) {
        top: 5%;
      }
    }
    div {
      transform: translate3d(0,100%,0);
    }
  }
}