.project {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  perspective: 700px;
  &__container {
    height: 50vh;
    height: calc(var(--vh, 1vh) * 50);
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 50%;
  }
  &__img {
    height: 100%;
    opacity: 0;
     &-container {
       height: 100%;
       width: 100%;
       overflow: hidden;
       position: relative;
     }
     &-reveal {
       width: 100%;
       height: 100%;
       position: absolute;
       top: 0;
       right: 0;
     }
  }
  &__button-container {
    font-size: var(--font-size-s);
    overflow: hidden;
    position: absolute;
    right: -3rem;
    bottom: -8rem;
    @include respond(xlarge) {
      right: -2.5rem;
      bottom: -7rem;
    }
    @include respond(large) {
      right: -2rem;
      bottom: -6rem;
    }
    @include respond(medium) {
      right: 0rem;
      bottom: -5rem;
    }
    @include respond(small) {
      right: 2rem;
    }
    @include respond(xsmall) {
      right: 4rem;
    }
    @include respond(xxsmall) {
      right: auto;
      left: 50%;
      transform: translateX(-50%);
      bottom: -4rem;
    }
    @media (max-width: 1100px) and (orientation: portrait) and (min-width: 600px) {
      right: 45rem;
      bottom: -9rem;
    }
  }
  .button {
    transform: translateY(100%);
  }
  &__title {
    position: absolute;
    font-size: 25rem;
    font-weight: bold;
    overflow: hidden;
    pointer-events: none;
    letter-spacing: 2px;
    @include respond(xlarge) {
       font-size: 23rem;
    }
    @include respond(large) {
      font-size: 22rem;
    }
    @include respond(medium) {
    font-size: 20rem;
    }
    @include respond(small) {
    font-size: 20rem;
    }
    @include respond(xsmall) {
    font-size: 18rem;
    }
    @include respond(xxsmall) {
    font-size: 16rem;
    }
    &--down {
      bottom: 0;
      left: 0;
      padding-right: 1rem;
      @include respond(xxsmall) {
        bottom: 5%;
      }
    }
    &--up {
      top: 0;
      right: 0;
      @include respond(xxsmall) {
        top: 5%;
      }
    }
    div {
      transform: translate3d(0,100%,0);
    }
  }
}