.project-header {
   bottom: 0;
   right: 0;
   position: fixed;
   top: 0;
   left: 0;
   letter-spacing: 2px;
   perspective: 700px;
   z-index: 1;
   &__scroll-indicator {
     position: absolute;
     right: 10%;
     bottom: 10%;
     overflow: hidden;
     span {
       font-size: var(--font-size-m);
       display: inline-block;
       transform: translateY(100%);
       opacity: 0;
     }
     i {
       font-size: 4rem;
       margin-left: 1rem;
     }
   }
   &__title {
    pointer-events: none;
    letter-spacing: 2px;
    font-size: 25rem;
    position: absolute;
    font-weight: bold;
    overflow: hidden;
    @include respond(xlarge) {
      font-size: 23rem;
    }
    @include respond(large) {
      font-size: 22rem;
    }
    @include respond(medium) {
      font-size: 20rem;
    }
    @include respond(small) {
      font-size: 20rem;
    }
    @include respond(xsmall) {
      font-size: 18rem;
    }
    @include respond(xxsmall) {
      font-size: 16rem;
    }
    &--left {
      bottom: 0;
      left: 0;
      padding-right: 1rem;
      @include respond(xxsmall) {
        bottom: 5%;
      }
    }
    &--right {
      right: 0;
      top: 0;
      @include respond(xxsmall) {
        top: 5%;
      }
    }
   }
   &--animated {
    .project-header__title {
      div {
        transform: translate3d(0,100%,0);
        opacity: 0;
      }
      &--left {
        bottom: 50%;
        left: 50%;
        transform: translate3d(-80%, 50%,0) scale(0.5);
      }
      &--right {
        right: 50%;
        top: 50%;
        transform: translate3d(80%, -50%,0) scale(0.5);
      }
     }
   }
}