$breakpoints: (
  xxsmall: (max-width: 460px),
  xsmall: (max-width: 640px),
  small: (max-width: 800px),
  medium: (max-width: 1024px),
  large: (max-width: 1200px),
  xlarge: (max-width: 1440px)
);

:root {
--black: #000;
--white: #fff;
--dark: #191919;
--light: #f5efe1;
}
