$breakpoints: (
  xxsmall: (max-width: 460px),
  xsmall: (max-width: 640px),
  small: (max-width: 800px),
  medium: (max-width: 1024px),
  large: (max-width: 1200px),
  xlarge: (max-width: 1440px)
);

:root {
--black: #000;
--white: #fff;
--dark: #191919;
--light: #f5efe1;
--grey: #282828;
--brown: #A52A2A;
--font-size-s: 1.6rem;
--font-size-m: 2.5rem;
--image-ratio: 0.4865;
--phone-section-ratio: 0.354;
@include respond(xxsmall) {
  --font-size-s: 2.1rem;
}
}
