.about {
  margin: 0 auto;
  padding: 15rem 7rem;
  overflow: hidden;
  span {
    display: inline-block;
    margin-right: .4rem;
    overflow: hidden;
    span {
      transform: translateY(110%);
      opacity: 0;
    }
  }
  @include respond(large) {
    padding: 10rem 5rem;
  }
  @include respond(small) {
    padding: 7rem 3rem
  }
  @include respond(xxsmall) {
    padding: 5rem 2rem;
  }
  &__heading {
    font-size: 20rem;
    line-height: .8;
    padding-top: 10rem;
    @include respond(xlarge){
      font-size: 18rem;
    }
    @include respond(large){
      font-size: 16rem;
    }
    @include respond(medium){
      font-size: 14rem;
    }
    @include respond(small){
      font-size: 12rem;
    }
    @include respond(xsmall){
      font-size: 11rem;
    }
    @include respond(xxsmall){
      font-size: 10rem;
    }
    &__indicator {
      text-align: center;
      font-size: var(--font-size-s);
      transform: translateY(100%);
      @include respond(small) {
        display: none;
      }
      span {
        margin: 0;
      }
      &__line {
        width: 2px;
        margin: 1rem auto 0;
        overflow: hidden;
        &-fill {
          background-color: var(--black);
          height: 3rem;
          transform: translateY(-100%);
        }
      }
    }
  }
  &__line {
    span {
      display: inline-block;
      transition: .1s ease-out;
    }
    &--1 {
      transform: translateX(120%);
    }
    &--2 {
      text-align: end;
      transform: translateX(-120%);
    }
    &--3 {
      transform: translateX(120%);
    }
  }
  &__description {
   margin-top: 45rem;
   display: flex;
   justify-content: space-between;
   @include respond(xlarge) {
    margin-top: 37.5rem;
   }
   @include respond(large) {
    margin-top: 35rem;
   }
   @include respond(medium) {
    margin-top: 32.5rem;
   }
   @include respond(small) {
    margin-top: 30rem;
   }
   @include respond(xsmall) {
    margin-top: 27.5rem;
   }
   @include respond(xxsmall) {
    margin-top: 25rem;
   }
   &__gif {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
   }
   &__heading {
     font-size: 6.5rem;
     line-height: 1.1;
     margin-top: -22rem;
     &__line {
       white-space: nowrap;
       font-weight: normal;
     }
     @include respond(xlarge) {
      font-size: 6rem;
      margin-top: -20rem;
    }
    @include respond(medium) {
      font-size: 5.5rem;
      margin-top: -19rem;
    }
    @include respond(small) {
      font-size: 5rem;
      margin-top: -17rem;
    }
    @include respond(xsmall) {
      font-size: 4rem;
      margin-top: -14rem;
    }
    @include respond(xxsmall) {
      margin-top: -13rem;
      font-size: 3.5rem;
    }
    @media (max-width: 350px) {
      font-size: 3rem;
      margin-top: -11rem;
    }
   }
   &__paragraph {
     margin-top: 20rem;
     line-height: 1.4;
     @include respond(xlarge) {
      margin-top: 10rem
    }
    @include respond(medium) {
      margin-top: 10rem
    }
    @include respond(small) {
      margin-top: 5rem
    }
    @include respond(xsmall) {
      display: none;
    }
    &--mobile {
      display: none;
      font-size: var(--font-size-m);
      width: 70%;
      margin-top: -5rem;
      position: relative;
      @include respond(xsmall) {
        display: block;
      }
    } 
   }
   &__text {
       font-size: var(--font-size-m);
       line-height: 1.8;
       width: 40%;
       position: relative;
       z-index: 1;
       @include respond(xlarge) {
        width: 50%;
      }
      @include respond(xsmall) {
        width: 30%;
      }
   }
   &__img {
     &-container {
      width: 40%;
      overflow: hidden;
      position: relative;
      visibility: hidden;
      @include respond(small) {
        width: 45%;
      }
      @include respond(xsmall) {
       width: 70%;
     }
     }
     width: 100%;
     &-reveal {
       position: absolute;
       right: 0;
       bottom: 0;
       width: 100%;
       height: 100%;
       background-color: var(--light);
     }
   }
  }
  &__circle {
    width: 60rem;
    height: 60rem;
    margin: -7.5rem 0 0 15rem;
    position: relative;
    @include respond(xlarge) {
      width: 50rem;
      height: 50rem;
      margin: -5rem 0 0 10rem;
    }
    @include respond(large) {
      margin: -2.5rem 0 0 10rem;
    }
    @include respond(medium) {
    margin: 7.5rem 0 0 5rem;
    width: 45rem;
    height: 45rem;
    }
    @include respond(small) {
      width: 40rem;
      height: 40rem;
    }
    @include respond(xsmall) {
      margin: 15rem auto 15rem auto;
    }
    &__inner {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 25%;
      opacity: 0;
      z-index: 5;
      @include respond(small) {
        width: 30%;
      }
      @include respond(xsmall) {
        width: 35%;
      }
      @include respond(xxsmall) {
        width: 40%;
      }
    }
    &__img {
      width: 100%;
      opacity: 0;
      visibility: hidden;
      transform: translateY(200%);
    }
  }
  &__skills {
    &__heading {
      font-size: var(--font-size-m);
      width: 30%;
      margin: 0 0 0 auto;
      @include respond(xlarge) {
        width: 40%;
      }
      @include respond(medium) {
        width: 50%;
      }
      @include respond(xsmall) {
        width: 70%;
        margin: 10rem auto 0 0;
      }
    }
    &__description {
      font-size: var(--font-size-m);
      width: 40%;
      @include respond(xlarge) {
        width: 50%;
      }
      @include respond(medium) {
        width: 60%;
      }
      @include respond(xsmall) {
        width: 70%;
        margin: 0 auto 0 0;
      }
    }
    &__technologies {
      margin: 15rem auto;
      display: grid;
      justify-content: center;
      backface-visibility: hidden;
      grid-template-columns: repeat(4, 32.5rem);
      @include respond(xlarge) {
        grid-template-columns: repeat(4, 30rem);
      }
      @include respond(large) {
        grid-template-columns: repeat(4, 27.5rem);
      }
      @include respond(medium) {
        grid-template-columns: repeat(4, 25rem);
      }
      @include respond(small) {
        grid-template-columns: repeat(4, 22.5rem);
      }
      @include respond(xsmall) {
        grid-template-columns: repeat(3, 22.5rem);
        margin: 10rem auto;
      }
      &-wrapper {
        display: flex;
        justify-content: center;
      }
      &__technology {
        height: 32.5rem;
        overflow: hidden;
        margin-top: -1px;
        margin-left: -1px;
        &__info {
          overflow: hidden;
          position: fixed;
          left: 0;
          top: 0;
          z-index: 4;
          color: var(--white);
          font-size: var(--font-size-s);
          pointer-events: none;
          .content {
          transform: translateY(100%);
          display: flex;
          padding: 2rem;
          filter: grayscale(1);
          flex-direction: column;
          span {
            display: inline-block;
          }
          .row {
            overflow: hidden;
          }
          .line {
            height: 2px;
            background-color: var(--white);
            margin-right: 1rem;
            width: 2rem;
            transform: translateX(-100%);
          }
          h1 {
            transform: translateY(100%);
            opacity: 0;
            margin-bottom: 1rem;
          }
          .line-content {
          transform: translateY(100%);
          opacity: 0;
          }
          i {
              margin-left: 1rem;
          }
          > .row {
              display: flex;
              align-items: center;
          }
         }
        }
        @include respond(xlarge) {
          height: 30rem;
        }
        @include respond(large) {
          height: 27.5rem;
        }
        @include respond(medium) {
          height: 25rem;
        }
        @include respond(small) {
          height: 22.5rem;
        }
        div {
          width: 100%;
          height: 100%;
          border: 1px solid var(--black);
          display: flex;
          align-items: center;
          position: relative;
          justify-content: center;
          filter: grayscale(1);
          transform: translateY(-100%);
          img {
            width: 35%;
            transform: translateY(-100%);
              opacity: 0;
            @include respond(xxsmall) {
              width: 40%;
            }
          }
          .info-container {
            position: absolute;
            display: flex;
            align-items: center;
            top: 5%;
            right: 5%;
            opacity: 0;
            font-size: var(--font-size-m);
            span {
              font-size: var(--font-size-s);
            }
            i {
              margin-left: .5rem;
            }
          }
        }
        &--1 {
          font-size: 2.6rem;
          border: 1px solid var(--black);
          @include respond(xlarge) {
            font-size: 2.5rem;
          }
          @include respond(large) {
            font-size: 2.25rem;
          }
          @include respond(medium) {
           font-size: 2rem;
          }
          div {
            transform: none;
            width: auto;
            height: auto;
            border: none;
          }
        }
      }
    }
  }
  &__contact {
    margin: 20rem 0;
    @include respond(xlarge) {
     margin: 15rem 0;
    }
    @include respond(medium) {
     margin: 10rem 0;
    }
    h1 {
      font-size: 8rem;
      font-family: inherit;
      line-height: 1.15;
      width: 80%;
      @include respond(xlarge) {
        font-size: 7rem;
      }
      @include respond(large) {
        font-size: 6.5rem;
      }
      @include respond(medium) {
        font-size: 5.5rem;
      }
      @include respond(small) {
        font-size: 4.5rem;
      }
      @include respond(xsmall) {
        font-size: 4rem;
        width: 90%;
      }
      @include respond(xxsmall) {
        font-size: 3.5rem;
        width: 90%;
      }
      span {
        margin-right: 1rem;
      }
    }
    h2 {
      margin: 10rem 0 20rem;
      font-size: 10rem;
      @include respond(xlarge) {
        font-size: 9rem;
        margin: 7.5rem 0 15rem;
      }
      @include respond(large) {
        font-size: 8.5rem;
      }
      @include respond(medium) {
        font-size: 7.4rem;
      }
      @include respond(small) {
        font-size: 6.5rem;
      }
      @include respond(xsmall) {
        font-size: 5.25rem;
      }
      @include respond(xxsmall) {
        margin: 5rem 0 10rem;
        font-size: 4rem;
      }
      .highlight-text:hover a > i{
        transform: rotate(90deg);
      }
      i {
        padding-left: 3rem;
        @include respond(xsmall) {
          padding-left: 2rem;
        }
      }
    }
    &__circle {
      width: 20%;
      height: 20%;
      margin: -20rem 0 0 auto;
      display: block;
      @include respond(xlarge) {
        margin: -15rem 0 0 auto;
       }
       @include respond(medium) {
        margin: -10rem 0 0 auto;
       }
       @include respond(xsmall) {
        margin: 0 auto 10rem;
        width: 30%;
       }
    }
    &__content {
      display: flex;
      @include respond(xxsmall) {
        flex-direction: column;
      }
    }
    ul:first-child {
      flex-basis: 60%;
      @include respond(xxsmall) {
        margin-bottom: 5rem;
      }
    }
    ul:nth-child(2) {
      @include respond(xxsmall) {
        h3 {
          flex-basis: 100%;
        }
        flex-wrap: wrap;
        display: flex;
      }
    }
    ul {
      list-style: none;
      flex-basis: 40%;
      @include respond(xxsmall) {
        flex-basis: auto;
      }
      h3 {
        font-size: 4rem;
      }
      li {
        font-size: var(--font-size-m);
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    &__copyright {
      font-size: 5rem;
      display: flex;
    }
    &__author {
      align-self: center;
      display: flex;
      font-size: var(--font-size-m);
    }
  }
  &__go-to-work {
    text-align: center;
    margin-top: 10rem;
    font-size: var(--font-size-s);
    @include respond(medium) {
      margin-top: 5rem;
    }
    @include respond(xxsmall) {
      font-size: 1.6rem;
    }
    .highlight-text {
      font-size: 20rem;
      line-height: 1;
      @include respond(medium) {
        font-size: 18rem;
      }
      @include respond(xsmall) {
        font-size: 16rem;
      }
      @include respond(xxsmall) {
        transform: translateY(0);
        font-size: 12rem;
      }
    }
  }
} 