.work {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh)*100);
  position: relative;
  &__pagination {
    position: fixed;
    left: 12%;
    top: 25%;
    font-size: var(--font-size-s);
    overflow: hidden;
    height: 34px;
    z-index: 4;
    @include respond(xlarge) {
      left: 8%;
      top: 20%;
    }
    @include respond(large) {
      left: 5%;
    }
    @include respond(medium) {
      left: 2%;
    }
    @include respond(xxsmall) {
      left: 2%;
      bottom: 0;
      top: auto;
    }
    > div {
    display: flex;
    transform: translateY(100%);
    }
    > div > * {
      display: inline-block;
    }
    &__seperator {
      margin: 0 1rem;
      opacity: 0.2;
    }
    &__number {
      opacity: 0.2;
    }
    &__active {
      height: 34px;
      div {
        height: 34px;
      }
    }
  }
  &__indicator {
    position: absolute;
    bottom: .5%;
    left: 50%;
    transform: translateX(-50%);
    &__text {
      &-container {
        overflow: hidden;
      }
      font-size: var(--font-size-s);
      transform: translateY(110%);
      opacity: 0;
      display: inline-block;
    }
    &__line {
      &-container {
        overflow: hidden;
      }
      height: 3rem;
      width: 2px;
      background-color: var(--black);
      margin: 0 auto;
      transform: translateY(-100%);
    }
  }
}