.work {
  &__pagination {
    position: fixed;
    left: 15%;
    top: 25%;
    font-size: 20px;
    overflow: hidden;
    height: 34px;
    @include respond(xlarge) {
      left: 12.5%;
    }
    @include respond(large) {
      left: 10%;
    }
    @include respond(medium) {
      left: 5%;
    }
    @include respond(small) {
      left: 0%;
    }
    @include respond(xxsmall) {
      left: 2%;
      bottom: 0;
      top: auto;
    }
    > div {
    display: flex;
    transform: translateY(100%);
    }
    > div > * {
      display: inline-block;
    }
    &__seperator {
      margin: 0 1rem;
      opacity: 0.2;
    }
    &__number {
      opacity: 0.2;
    }
    &__active {
      height: 34px;
    }
  }
}