*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important;
}

body {
  overscroll-behavior: contain;
  will-change: height;
}

.view {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

.scroll {
  will-change: transform;
}

span {
  will-change: transform, opacity;
}