html {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  overflow: hidden;
  line-height: 1.7;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
  font-size: 62.5%;
  @include respond(large) {
    font-size: 56.25%;
  }
  @include respond(small) {
    font-size: 50%;
  }
  @include respond(xxsmall) {
    font-size: 43.75%;
  }
}
 