@font-face {
  font-family: Monument;
  src: url('../../assets/fonts/Monument/MonumentExtended-Regular.otf');
}
@font-face {
  font-family: Peace Sans;
  src: url('../../assets/fonts/Peace\ Sans/Peace\ Sans.otf');
}
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

html {
  font-family: 'Monument', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
  color: var(--black);
  font-weight: normal;
  font-size: 62.5%;
  @include respond(large) {
    font-size: 56.25%;
  }
  @include respond(small) {
    font-size: 50%;
  }
  @include respond(xxsmall) {
    font-size: 43.75%;
  }
}
h1, h2, h3, .highlight-text {
  font-family: Peace Sans, sans-serif;
}

*:focus, *:active {
  outline: none;
}